
 <div class="card-body ">
<form> 
<%= simple_form_for @dog do |f| %>
 <div class="form-group">
  <%= f.input :name ,class:"form-control"%>
 </div>
 <div class="form-group">
  <%= f.input :description, as: :text, class:"form-control" %>
 </div>

 

 <div class="form-group" >
  <%= f.input :images, as: :file , multiple:true %>
</div>

<% (0...@dog.images.count).each do |image|%>
  <%= image_tag(@dog.images[image]) %>
 <% end %>
 

  <%= f.number_field :user_id, id: :dog_user_id, value:current_user.id, type: :hidden %>



  <%= f.button :submit %>
<% end %>
</form>
</div>

