
<section>
  <div class="card " align="center" >
    <div class="card-header">
      <h2><%= @dog.name %></h2>
    </div>

  <% @dog.images.each do |image| %>

  <div class="card-body">
    <%= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
 <%= link_to "like", toggle_favorite_dog_path(dog), remote: true, method: :post %>
  </div>
  <% end %>

  <p class="card-text"><%= @dog.description %></p>

  <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path , class:"btn btn-warning"%>
  <br>
  <%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>

  </div>
</section>



