      <nav class="light-blue accent-2">
          <div class="container">
          <div class="nav-wrapper">
       
            <%= link_to 'Dog Profile Demo', root_path, class:"brand-logo" %>
           
           
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <% if current_user %>
                  <li><%= link_to 'Show dogs', dogs_path %></li>
                  <li><%= link_to 'Add your dog', new_dog_path %></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to 'Sign in', new_user_session_path %></li>
                  <li><%= link_to 'Sign up', new_user_registration_path %></li>
                <% end %>
              </ul>
          </div>
        </div>
      </nav>




     